body {
background-color: lightgray
}

.button-box {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.header-div {
    display: flex;
    justify-content: center;
}

.header {
    background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 3rem;
    font-weight: bold;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    width: 590px;
    height: 590px;
    gap: 2px;
    margin: 50px auto;
    border: 10px black;
    background-color: #585858;
    box-sizing: content-box;
    padding: 10px ;
}

.square{
    
    
  width: 35px;
  height: 35px;
  background-color: lightgray;
  border: 1px solid #ccc;
  box-sizing: border-box;
}


.color {
    background-color: black;
}